.profile-h4 {
    margin-bottom: 0.2rem;
}

.profile-text {
    margin: 2rem;
}

.profile-name {
    margin-top: 2rem;
}

.consultant-profile {
    text-align: center;
    color: rgb(58, 58, 58);
}

.consultant-img {
    margin-top: 4rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.consultant-buttons-container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
}


