.profile-h4 {
    margin-bottom: 0.2rem;
}

.profile-text {
    margin-top: 0;
    padding: 0 0.75rem;
}

.profile-name {
    margin-top: 2rem;
}

.consultant-profile {
    text-align: center;
    color: rgb(58, 58, 58);
}

.consultant-img {
    margin-top: 5rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;

    @media only screen and (min-width: 900px) {
        height: 10rem
    }
}

.consultant-buttons-container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;

    .button {
      padding: 0.5rem .75rem;
      width: 5rem;

        @media only screen and (min-width: 900px) {
            width: 6rem;
        }

        @media only screen and (min-width: 1200px) {
            width: 7rem;
        }

        @media only screen and (min-width: 1400px) {
            width: 8rem;
        }
    }
}


