a {
  width: unset;
}

input {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

select {
  font-size: 14px;
  padding: 12px 20px;
  width: 100%;
  background: white;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.addGoal-modal {
  display: block;
  position: fixed;
  width: 700px;
  max-width: 100%;
  height: 800px;
  max-height: 100%;
  padding: 1rem 2rem;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  overflow:scroll;
 }

 .modal-header {
  position:fixed
}

.label-p {
  margin-bottom: 8px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttons-container {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.buttons-container button {
  margin-left: 2rem;
}

.button {
  background-color: #b0a5a5;
  padding: 8px 32px;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  border-radius: 8px;
  color: #fff;
  border-style: none;
  line-height: 1.5;
  cursor: pointer;
}

.create-btn {
  background-color: #2e7d32d9;
}

.create-btn:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.edit-btn {
  background-color: #278eae;
}

.edit-btn:hover {
  background-color: #1e5f84;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.submit-btn {
  background-color: #2e7d32d9;
}

.submit-btn:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.status-btn {
  background-color: #278eae;
}

.status-btn:hover {
  background-color: #1e5f84;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.delete-btn, .close-btn {
  background-color: #dc3545;
}

.delete-btn:hover, .close-btn:hover {
  background-color: #bb2d3b;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.left, .right {
  width: 20rem;
}

.top-section, .middle-section {
  display: flex;
  justify-content: space-between;
}

.goals-btn, .history-btn {
  background-color: #278eae;
}

.goals-btn:hover, .history-btn:hover {
  background-color: #1e5f84;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.hidden {
display: none;
}
