a {
  width: unset;
}

input {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#half-year-progress {
  margin-bottom: 2rem;
}

.addGoal-modal {
  width: 700px;
  max-width: 100%;
  max-height: 100%;
  padding: 2rem 2rem;
  display: block;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  overflow: scroll;
 }

 .modal-header {
  position:fixed
}

.label-p {
  margin-bottom: 0.2rem;
  margin-left: 5px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttons-container {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.buttons-container button {
  margin-left: 1rem;
}

.button {
  padding: 0.5rem 2rem;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  border-radius: 8px;
  color: #fff;
  background-color: #b0a5a5;
  border-style: none;
  line-height: 1.5;
  cursor: pointer;
}

.create-btn, .my-history-btn {
  background-color: #1e5f84;
}

.my-history-btn {
  margin-left: 0.5rem;
}

.create-btn:hover, .my-history-btn:hover {
  background-color: #3894a3;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}


.edit-btn {
    //position: absolute;
    padding: 0.5rem 1.5rem;
    right: -0.25rem;
    bottom: 0.25rem;
    margin-left:0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: #1e5f84;
}

.edit-btn:hover {
  background-color: #3894a3;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.submit-btn {
  background-color: #1e5f84;
}

.submit-btn:hover {
  background-color: #3894a3;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.status-btn {
  background-color: #1e5f84;
}

.status-btn:hover {
  background-color: #3894a3;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.delete-btn {
  background-color: #bb2d3b;
}

.delete-btn:hover {
  background-color: #dc3545;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.close-btn {
  background-color: #1e5f84;
}

.close-btn:hover {
  background-color: #3894a3;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.goals-btn, .history-btn {
  width: 8rem;
  background-color: #2e3e4e;
}

.goals-btn:hover, .history-btn:hover {
  background-color: #3894a3;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.left, .right {
  width: 20rem;
}

.top-section, .middle-section {
  display: flex;
  justify-content: space-between;
}


.hidden {
display: none;
}

@media screen and (max-width: 1800px) {
  .edit-btn {
    position: absolute;
    padding: 0.5rem 1rem;
    right: -0.4rem;
    bottom: 0.25rem;
    margin-right: 0.75rem;
    background-color: #1e5f84;
  }
}

@media screen and (max-width: 1400px){
  .edit-btn {
    position: absolute;
    padding: 0.5rem 1rem;
    right: -0.6rem;
    bottom: 0.25rem;
    margin-right: 0.75rem;
    background-color: #1e5f84;
    
    text-align: center;
  }
}
