.history-headers {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.history-page-wrapper {
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    padding-bottom: 4rem;
    background-image:url(../Images/getshitdone.jpg);

    .history-h2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

.loading-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    height: 100%;
}

.history-list-wrapper {
    width: 100%;
    background-color: rgba(199, 218, 212, .9);
    box-shadow: inset 0 0 10px #2e2e2e;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;

    .history-header {
        width: 80%;
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 1.5rem;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .history-list-item {
        background-color: #F1F1EF;
        display: flex;
        justify-content: space-evenly;
        width: 95%;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-top: 1.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-bottom: 1.5rem;
        border-radius: 8px;
        margin-left: 2rem;
        margin-right: 2rem;

        
        .history-list-div {
            display: flex;
            width: 90%;
        }

        .history-button-holder{
            display: flex;
            width: 10%;
            height: 60px;
            justify-content: end;
            align-items: center;
        }
    }
}

.history-deadline {
 width: 20%;
}

.deadline {
    padding-left: 4rem;
}

.history-category {
    width: 20%;
    padding-left: 1rem;
}

.category {
    padding-left: 2rem;
}

.history-description {
    width: 50%;
    padding-right: 2rem;
}

.description {
    padding-left: 1.5rem;
}

.history-creationDate {
    width: 10%;
}

 .history-list-item:hover {
     background-color: #f0f2f5;
//      transform: scale(1.05);
  }
