.manager-page-wrapper {
    width: 100%;
    min-height: calc(100vh - 4rem);
    display: flex; 
    overflow-x: clip;
  }

.sidebar {
  background-color: #2e3e4e;
  width: 20%;
  border-top-right-radius: 15px;
  border: 2px solid #222d38;
}