.navbar {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  //background-color: rgb(119, 165, 201);
  background-color: #2e3e4e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-logo {
    padding: 0.25rem;
    margin-left: 2rem;
}

.logo {
  height: 100%;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

.navbar-menu a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}