.profile {
  margin-top: 5rem;
  text-align: center;

  img {
    height: 7rem;
    border: 4px solid #f1f1ef;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 0.5rem;
    background-color: #3894a3;

    @media only screen and (min-width: 900px) {
      height: 10rem;
    }
  }

  h2 {
    margin-top: 2rem;
    color: #f8f8f8e8;
    font-size: 1.25rem;
    padding: 0 0.5rem;
    color: #c7dad4;
    font-size: 1.25rem;

    @media only screen and (min-width: 900px) {
      font-size: 1.5rem;
      padding: 0 1rem;
    }
  }

  h3 {
    margin-top: 1rem;
    color: #c7dad4;
    font-size: 1rem;

    @media only screen and (min-width: 900px) {
      font-size: 1.25rem;
    }
  }
}
