.table-wrapper {
    width: 100%;

    h4 {
        margin: 0;
        width: 100%;
    }
    
    .header-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // padding: 0.5rem 0;
        background-color: #275878;
        color: white;
        width: 100%;

        .headers {
            padding: 0.5rem 0 0.5rem 1rem;
            
            &.header-deadline {
                width: 8%;
            }

            &.header-prio {
                width: 3%;
            }

            &.header-cost {
                width: 5%;
            }

            &.header-description,
            &.header-target,
            &.header-milestone,
            &.header-progress
            {
                width: 21%;
            }
        }
    }

    .body-wrapper {

        .cell-row {
            position: relative;
            box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

            &:not(:first-child) {
                margin-top: 1rem;
            }
            
            .goal-info {
                display: flex;
                width: 100%;

                .cells {
                    padding: 0.5rem 0 0.5rem 1rem;
                    background-color: white;
                    position: relative;

                    p {
                        margin: 0.25rem 0;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 1rem;
                        left: 0.25rem;
                        border-left: 1px solid rgb(201, 192, 192);
                        height: 100%;
                        color: grey;
                    }

                    &:first-child::after {
                        content: none;
                    }

                    &.cells-deadline {
                        width: 8%;
                    }
        
                    &.cells-prio {
                        width: 3%;
                    }
        
                    &.cells-cost {
                        width: 5%;
                    }
        
                    &.cells-description,
                    &.cells-target,
                    &.cells-milestone,
                    &.cells-progress
                    {
                        width: 21%;
                    }
                }
            }
            .reviews {
                width: 100%;

                .revs {
                    display: flex;
                    background-color: white;
                }

                .accordion {
                    width: 47%;
                    margin-right: 0.25rem;
                    // background-color: grey;
                }
            }
        }
    }
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: slide-out-right 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}