ul {
    list-style-type: none;
  }

.user-list {
  padding: 0;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.item button {
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding-left: 0;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-color: #b6b6b6;
  border-radius: 50px;
  background-color: #dbd9d9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item button:hover {
  background-color: #ebe8e8;
  cursor: pointer;
}

.item button:active {
  background-color: #f8f8f8;
}

.item h3 {
  color: #3a3a3ad9;
  padding: 0 8rem 0 3rem;
}

.item img {
  height: 6rem;
  border-radius: 50%;
}