.user-wrapper {
    padding-bottom: 2rem;
    width: 100%;

    .user {
        padding: 2rem;
        margin: auto;
        width: 40%;
        display: flex;
        background-color: #2e3e4e;
        border-radius: 8px;
        color: #f8f8f8e8;
    }

    .user-stats {
        margin: auto;
        padding-left: 2rem;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .user-stats h4 {
        margin-top: 0;
    }

    .user-profile {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .profile {
            margin: 0;
        };
    }
}