ul {
    list-style-type: none;
  }
  
  .listItem  {
    width: 50%;
    padding-top: 2rem;
  }

  a {
    text-decoration: none;
    color: #666666;
  }
  
  .user-list {
    width: 85%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
  }
  .user-list-item {
    width: 70%;
    border-style: solid ;
    border-width: 2px;
    border-color: #748291;
    border-radius: 50px;
    background-color: #e7e7e7;
  }
  
  /* .user-list li:last-child {
    justify-content: flex-start;
  } */
  
  .user-list-item h3 {
    padding-left: 3rem;
    padding-right: 2rem;
  }
  
  .user-list-item img {
    width: 6rem;
    height: 6rem;
    display: flex;
    border-radius: 50%;
    float: left;
  }