.user-wrapper {
    padding-bottom: 2rem;
    width: 100%;

    .user {
        padding: 2rem;
        margin: auto;
        width: 40%;
        display: flex;
        background-color: #2e3e4e;
        border-radius: 8px;
        color: #f8f8f8e8;
    }

    .user-stats {
        margin: auto;
        width: 60%;
        display: flex;
        flex-direction: column;
        overflow-wrap: break-word;

        p {
            font-size: 1.25rem;
        }
    }

    .user-stats .mail {
        display: flex;
    }

    .user-profile {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        
        .profile {
            margin: 0;
        };
    }

    .whatever {
        display: inline-block;
    }
}

@media only screen and (max-width: 1650px) {
    .user-wrapper .user {
        width: 50%;
    }
}

@media only screen and (max-width: 1510px) {
    .user-wrapper .user {
        width: 60%;
    }
}

@media only screen and (max-width: 1300px) {
    .user-wrapper .user {
        width: 65%;
    }
}

