th {
  background-color: rgb(119, 165, 201);
  color: white;
  padding: 0.25rem 0.5rem;
}

.th-description, 
.th-target, 
.th-milestone,
.th-expected 
{
  width: 20%;
}

.th-prio,
.th-cost 
{
  width: 5%;
}

td {
  padding: 0.25rem 0.75rem;
  border: 1px solid grey;
}

table {
  width: 100%;
}

.delete-btn {
  appearance: none;
  backface-visibility: hidden;
  background-color: #b73649;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.delete-btn:hover {
  background-color: #a10b0b;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.delete-btn:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
}

/* .half-review,
.end-review 
{
  width: 100%;
} */