ul {
  list-style-type: none;
}

.listItem {
  width: 50%;
}

.user-list {
  width: 85%;
  height:100%;
  display: flex;
  flex-wrap: wrap;
}
.user-list-item {
  width: 50%;
}

/* .user-list li:last-child {
  justify-content: flex-start;
} */

.user-list-item p {
  padding-left: 2rem;
  padding-right: 2rem;
}

.user-list-item img {
  width: 6rem;
  height: 6rem;
  display: flex;
}